{% load staticfiles %}
<!-- ADDRESS -->
<div class="shell">
    <div class="box box-insets-off bg-white reveal-lg-block offset-top-30">
        <div class="range range-xs-center range-md-justify text-sm-left">
            <div class="cell-sm-8 cell-sm-push-1">
                <div class="box-inner">
                    <div class="range range-xs-center offset-top-10">
                        <div class="container">
                            <h4 class="text-ubold">Наши контакты</h4>
                            <br>
                            <div class="offset-top-25">
                                <address class="contact-info text-left">
                                    <p class="reveal-block text-small"><span
                                            class="unit unit-horizontal unit-spacing-xs">
                                        <span>Санкт-Петербург, Киришская ул., д.4а</span></span></span>
                                    </p>
                                    <div class="offset-top-20">
                                        <p class="reveal-inline-block text-small">
                                            <a href="tel:8 800 600 7218"><span class="typcn typcn-phone-outline"></span>
                                                8 800 600 7218</a>
                                        </p>
                                    </div>
                                    <div class="offset-top-20">
                                        <p class="reveal-inline-block text-small">
                                            <a href="mailto:info@paynspray.ru"><span class="typcn typcn-mail"></span>
                                                info@paynspray.ru</a>
                                        </p>
                                    </div>
                                    <div class="offset-top-20">
                                        <p><b>Владислав:</b></p>
                                        <p class="reveal-inline-block text-small">
                                            <a href="tel:+7 981 850-75-77"><span class="typcn typcn-phone-outline"></span>
                                                 +7 (981) 850-75-77</a>
                                        </p>
                                        <p class="reveal-inline-block text-small">
                                            <a href="mailto:vlad@paynspray.ru"><span class="typcn typcn-mail"></span>
                                                vlad@paynspray.ru</a>
                                        </p>
                                        <p><b>Александр:</b></p>
                                        <p class="reveal-inline-block text-small">
                                            <a href="tel:+7 911 839-58-27"><span class="typcn typcn-phone-outline"></span>
                                                 +7 (911) 839-58-27</a>
                                        </p>
                                        <p class="reveal-inline-block text-small">
                                            <a href="mailto:aleksandr@paynspray.ru"><span class="typcn typcn-mail"></span>
                                                aleksandr@paynspray.ru</a>
                                        </p>
                                    </div>
                                </address>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  END OF ADDRESS -->