{% load staticfiles %}

<!-- FORM -->
<section class="contact-form" style="margin-top:20px">
    <div class="row">
        <div class="col-sm-12">
            <h2>ОТПРАВЬТЕ НАМ <span>СООБЩЕНИЕ</span></h2>
            <hr class="small"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="sendstatus"></div>
            <div id="contactform">
                <form action="" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <p><label for="id_name" class="form-label">Ваше имя</label> {{ form.name }}</p>
                            <p><label for="id_telephone" class="form-label">Ваш телефон</label> {{ form.telephone }}</p>
                            <p><label for="id_email" class="form-label">Ваш email</label> {{ form.email }}</p>
                        </div>
                        <div class="col-sm-6">
                            <p><label for="id_message" class="form-label">Сообщение</label> {{ form.message }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p><button class="btn medium btn-royalblue" style="margin-bottom:40px" type="submit" tabindex="5">Отправить сообщение</button></p></center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END OF FORM -->