<!-- CLIENTS -->
<section class="clients home2 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="450ms">
    <div class="row">
        <div class="col-sm-12">
            <h2>МЫ РАБОТАЕМ СО ВСЕМИ МАРКАМИ АВТОМОБИЛЕЙ</h2>
            <p class="text-center">У нас есть для этого все необходимое! Высококлассные специалисты. Профессиональное оборудование. Автозапчасти.</p>
            <div id="clients-carousel" class="owl-carousel">

                <div class="item" title="Ауди"><img src="http://matronet.com/site/1070/object/2766/41550_p1.png" alt="" />
                </div>
                <div class="item" title="БМВ"><img src="http://matronet.com/site/1070/object/2766/41551_p1.png" alt="" />
                </div>
                <div class="item" title="Инфинити"><img src="http://matronet.com/site/1070/object/2766/41552_p1.png" alt="" />
                </div>
                <div class="item" title="Лексус"><img src="http://matronet.com/site/1070/object/2766/41553_p1.png" alt="" />
                </div>
                <div class="item" title="Land Rover"><img src="http://matronet.com/site/1070/object/2766/41554_p1.png" alt="" />
                </div>
                <div class="item" title="Мини"><img src="http://matronet.com/site/1070/object/2766/41555_p1.png" alt="" />
                </div>
                <div class="item" title="Мерседес"><img src="http://matronet.com/site/1070/object/2766/41556_p1.png" alt="" />
                </div>
            </div>
        </div>
</div>
</section>
<!-- END CLIENTS -->