{% load staticfiles %}
<!-- Gallery -->
<section class="projects">
    <div class="row">
        <div class="col-sm-12">
        <h2>ПРИМЕРЫ РАБОТ</h2>
        </div>
    </div>
    <div class="row full-width no-gutter-all">
        <div class="col-sm-12">
            <div class="block-grid-sm-4 block-grid-xs-1 projectsposts">
                <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                <a href="{% static "landing/image/gallery/st1_0001.jpg" %}" class="lightbox">
                    <figure>
                        <img src="{% static "landing/image/gallery/st1_0001.jpg" %}" />
                        <figcaption>
                            <div class="fig-overlay">
                                <div class="thetitle"><h6>Фото: Восстановление после ДТП</h6></div>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                </div>
            <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
            <a href="{% static "landing/image/gallery/st1_0002.jpg" %}" class="lightbox">
                <figure>
                    <img src="{% static "landing/image/gallery/st1_0002.jpg" %}" />
                    <figcaption>
                        <div class="fig-overlay">
                            <div class="thetitle"><h6>Фото: Покраска после кузовных работ</h6></div>
                        </div>
                    </figcaption>
                </figure>
            </a>
            </div>
            <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
            <a href="{% static "landing/image/gallery/st1_0003.jpg" %}" class="lightbox">
                <figure>
                    <img src="{% static "landing/image/gallery/st1_0003.jpg" %}" />
                    <figcaption>
                        <div class="fig-overlay">
                            <div class="thetitle"><h6>Фото: Покраска кузова автомобиля</h6></div>
                        </div>
                    </figcaption>
                </figure>
            </a>
            </div>
                <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                <a href="{% static "landing/image/gallery/st1_0004.jpg" %}" class="lightbox">
                    <figure>
                        <img src="{% static "landing/image/gallery/st1_0004.jpg" %}" />
                        <figcaption>
                            <div class="fig-overlay">
                                <div class="thetitle"><h6>Фото: Тонировка стёкол</h6></div>
                            </div>
                        </figcaption>
                    </figure>
                    </a>
                </div>    
            </div>
        </div>
    </div>
</section>
<!-- End of Gallery -->