{% load staticfiles %}
<!-- Slider -->
<div class="slider-pro" id="index-slider2">
    <div class="sp-slides">

        <div class="sp-slide">
            <img class="sp-image" src="{% static "landing/image/slider/st1_0001.jpg" %}" alt=""/>
            <div class="hw-the-slider-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hw-the-slider-container">
                            <div class="hw-the-slider-captions sp-layer" data-show-transition="up"
                                 data-hide-transition="down" data-show-delay="800" data-hide-delay="800"
                                 data-stay-duration="5500">
                                <div class="title-frame">
                                    <h2>Кузовной ремонт</h2>
                                    <hr class="small"/>
                                    <p>Наш кузовной цех оснащен современным оборудованием, что позволяет выполнять
                                        работы любой сложности</p>
                                    <a href="/services" class="btn btn-orange" style="margin-bottom:15px">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sp-slide">
            <img class="sp-image" src="{% static "landing/image/slider/st1_0002.jpg" %}" alt=""/>
            <div class="hw-the-slider-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hw-the-slider-container">
                            <div class="hw-the-slider-captions sp-layer" data-show-transition="up"
                                 data-hide-transition="down" data-show-delay="800" data-hide-delay="800"
                                 data-stay-duration="5500">
                                <div class="title-frame">
                                    <h2>Восстановление после ДТП</h2>
                                    <hr class="small"/>
                                    <p>Наши специалисты обладают высочайшей квалификацией, что позволяет выполнять
                                        работы по восстановлению автомобиля даже после тяжёлых ДТП</p>
                                    <a href="/services" class="btn btn-orange" style="margin-bottom:15px">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sp-slide">
            <img class="sp-image" src="{% static "landing/image/slider/st1_0003.jpg" %}" alt=""/>
            <div class="hw-the-slider-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hw-the-slider-container">
                            <div class="hw-the-slider-captions sp-layer" data-show-transition="up"
                                 data-hide-transition="down" data-show-delay="800" data-hide-delay="800"
                                 data-stay-duration="5500">
                                <div class="title-frame">
                                    <h2>Полировка кузова</h2>
                                    <hr class="small"/>
                                    <p>Наши специалисты выполнят полировку автомобиля профессионально и
                                        качественно.</p>
                                    <a href="/services" class="btn btn-orange" style="margin-bottom:15px">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sp-slide">
            <img class="sp-image" src="{% static "landing/image/slider/st1_0004.jpg" %}" alt=""/>
            <div class="hw-the-slider-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hw-the-slider-container">
                            <div class="hw-the-slider-captions sp-layer" data-show-transition="up"
                                 data-hide-transition="down" data-show-delay="800" data-hide-delay="800"
                                 data-stay-duration="5500">
                                <div class="title-frame">
                                    <h2>Полировка оптики</h2>
                                    <hr class="small"/>
                                    <p>Избавление фаровых стёкол от большого количества мелких царапин, поможет улучшить
                                        светопроницаемость стекла до 30%! Значительный эффект освещённости дороги в
                                        тёмное время суток!</p>
                                    <a href="/services" class="btn btn-orange" style="margin-bottom:15px">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sp-slide">
            <img class="sp-image" src="{% static "landing/image/slider/st1_0005.jpg" %}" alt=""/>
            <div class="hw-the-slider-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hw-the-slider-container">
                            <div class="hw-the-slider-captions sp-layer" data-show-transition="up"
                                 data-hide-transition="down" data-show-delay="800" data-hide-delay="800"
                                 data-stay-duration="5500">
                                <div class="title-frame">
                                    <h2>Сварочные работы</h2>
                                    <hr class="small"/>
                                    <p>С помощью сварочных кузовных работ мы легко восстановим первоначальный внешний
                                        вид авто, нуждающегося в ремонте</p>
                                    <a href="/services" class="btn btn-orange" style="margin-bottom:15px">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sp-slide">
            <img class="sp-image" src="{% static "landing/image/slider/st1_0006.jpg" %}" alt=""/>
            <div class="hw-the-slider-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hw-the-slider-container">
                            <div class="hw-the-slider-captions sp-layer" data-show-transition="up"
                                 data-hide-transition="down" data-show-delay="800" data-hide-delay="800"
                                 data-stay-duration="5500">
                                <div class="title-frame">
                                    <h2>Покраска авто</h2>
                                    <hr class="small"/>
                                    <p>Мы осуществляем различные виды покрасочных работ, среди которых:
                                        стандартная покраска (база-лак), акриловая автоэмаль,
                                        Raptor и полиуретановые покрытия, Montana и др.</p>
                                    <a href="/services" class="btn btn-orange" style="margin-bottom:15px">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sp-slide">
            <img class="sp-image" src="{% static "landing/image/slider/st1_0007.jpg" %}" alt=""/>
            <div class="hw-the-slider-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hw-the-slider-container">
                            <div class="hw-the-slider-captions sp-layer" data-show-transition="up"
                                 data-hide-transition="down" data-show-delay="800" data-hide-delay="800"
                                 data-stay-duration="5500">
                                <div class="title-frame">
                                    <h2>Шумоизоляция и виброизоляция</h2>
                                    <hr class="small"/>
                                    <p>Профессиональная шумоизоляция с использованием специальных материалов,
                                        объединенных в несколько слоев, способна снизить звуковую нагрузку внутри
                                        автомобиля до 50%!</p>
                                    <a href="/services" class="btn btn-orange" style="margin-bottom:15px">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sp-slide">
            <img class="sp-image" src="{% static "landing/image/slider/st1_0008.jpg" %}" alt=""/>
            <div class="hw-the-slider-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hw-the-slider-container">
                            <div class="hw-the-slider-captions sp-layer" data-show-transition="up"
                                 data-hide-transition="down" data-show-delay="800" data-hide-delay="800"
                                 data-stay-duration="5500">
                                <div class="title-frame">
                                    <h2>Тонировка автомобиля</h2>
                                    <hr class="small"/>
                                    <p>Наш центр гарантирует профессиональную установку съёмной и постоянной тонировки
                                        на стёкла Вашего авто, а также бронирование оптики</p>
                                    <a href="/services" class="btn btn-orange" style="margin-bottom:15px">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sp-slide">
            <img class="sp-image" src="{% static "landing/image/slider/st1_0009.jpg" %}" alt=""/>
            <div class="hw-the-slider-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="hw-the-slider-container">
                            <div class="hw-the-slider-captions sp-layer" data-show-transition="up"
                                 data-hide-transition="down" data-show-delay="800" data-hide-delay="800"
                                 data-stay-duration="5500">
                                <div class="title-frame">
                                    <h2>Замена стёкол</h2>
                                    <hr class="small"/>
                                    <p>Зачастую для прохождения техосмотра требуется заменить какие-либо стёкла в
                                        автомобиле. Услуги по замене стёкол в нашем автосервисе к вашим услугам!</p>
                                    <a href="/services" class="btn btn-orange" style="margin-bottom:15px">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End of Slider -->