
{% load staticfiles %}

    <div class="header header2">

      <!-- Top bar -->
      <div class="topbar">
        <div class="row">
          <div class="col-sm-6">
            <ul class="phone">
              <li><span class="typcn typcn-location-outline"></span> Санкт-Петербург, Киришская ул., д.4а</li>
              <li><a href="tel:8 800 600 7218"><span class="typcn typcn-phone-outline"></span> 8 800 600 7218</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="toplinks">
              <li>ПН - ПТ 09:00 - 21:00</li>
              <li><a href="mailto:info@paynspray.ru">info@paynspray.ru</a></li>
              <!-- <li><a href="#search" title="Заказ обратного звонка"><i class="fa fa-phone"></i> Заказать звонок</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <!-- End of Top bar -->