{% load staticfiles %}

<!-- Body -->
<section class="introtext about1">
    <div class="row">
        <div class="col-sm-12">
            <h2>О НАШЕЙ КОМПАНИИ</h2>
            <p>Специализированный Автотехцентр: Мы предлагаем весь комплекс работ для наилучшего состояния Вашего автомобиля. Обслуживание у нас означает высшее качество выполненных работ по ремонту и уходу за автомобилем. Для качественного ремонта современных автомобилей необходимы оборудование и целенаправленные специалисты. Поэтому, наш техцентр оснащен всеми необходимыми инструментами, спец инструментами и аппаратурой, у нас работают только опытные специалисты. Именно поэтому мы выполняем только качественный ремонт.</p>
            <p>Мы не боимся трудностей и беремся за самые сложные и, на первый взгляд, невыполнимые работы. Для нас нет неразрешимых задач.</p>
        </div>
    </div>
</section>
<div class="spacing-65">

</div>
<!-- End of Body -->