{% load staticfiles %}

<!-- Body -->
<section class="introtext about1">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование работ</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Цена, руб.</th>
                    <th scope="col">Примечание</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" rowspan="3">1</th>
                    <td rowspan="3"><strong>Полировка кузова</strong></td>
                    <td>Для блина. Один круг. Одна паста</td>
                    <td>от 4'000</td>
                    <td>*</td>
                </tr>
                <tr>
                    <td>Двумя пастами. Двумя кругами</td>
                    <td>от 6'000</td>
                    <td>*</td>
                </tr>
                <tr>
                    <td>Под шкурку. Глубокая</td>
                    <td>от 7'000</td>
                    <td>*</td>
                </tr>
                <tr>
                    <th scope="row" rowspan="9">2</th>
                    <td rowspan="9"><strong>Покраска элемента</strong></td>
                    <td>Крыло (новое и б/у)</td>
                    <td>от 3'500</td>
                    <td>**</td>
                </tr>
                <tr>
                    <td>Бамперы</td>
                    <td>от 3'500</td>
                    <td>**</td>
                </tr>
                <tr>
                    <td>Двери (за шт.)</td>
                    <td>от 4'500</td>
                    <td>**</td>
                </tr>
                <tr>
                    <td>Капот</td>
                    <td>от 5'000</td>
                    <td>**</td>
                </tr>
                <tr>
                    <td>Крыша</td>
                    <td>от 5'500</td>
                    <td>**</td>
                </tr>
                <tr>
                    <td>Багажник</td>
                    <td>от 4'500</td>
                    <td>**</td>
                </tr>
                <tr>
                    <td>Крылья задние</td>
                    <td>от 4'500</td>
                    <td>**</td>
                </tr>
                <tr>
                    <td>Арки</td>
                    <td>от 2'400</td>
                    <td>**</td>
                </tr>
                <tr>
                    <td>Покраска порогов</td>
                    <td>от 2'500</td>
                    <td>**</td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <p>* Цены зависят от класса автомобиля</p>
                    <p>**Цены зависят от класса автомобиля и состояния деталей</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="spacing-40">
</div>
<!-- End of Body -->