{% load staticfiles %}

<!-- HEADER -->

<div id="hw-hero">
    <div class="header header1">

        <!-- TOP BAR -->
        <div class="topbar">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="phone">
                        <li><span class="typcn typcn-location-outline"></span> Санкт-Петербург, Киришская ул., д.4а</li>
                        <li><a href="tel:8 800 600 7218"><span class="typcn typcn-phone-outline"></span> 8 800 600 7218</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="toplinks">
                        <li>ПН - ПТ 09:00 - 21:00</li>
                        <li><a href="mailto:info@paynspray.ru">info@paynspray.ru</a></li>
                        <!-- <li><a href="#search" title="Заказ обратного звонка"><i class="fa fa-phone"></i> Заказать звонок</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- END OF TOP BAR -->
        <!-- SEARCH FORM
        <div id="search">
            <button type="button" class="close">x</button>
            <form id="form-back-call" onsubmit="return false">
                <span>Заказ обратного звонка. Введите номер Вашего телефона:</span>
                <input type="text" value="" placeholder="" />
                <input type="button" value="ЗАКАЗАТЬ ЗВОНОК" id="form-back-button" class="mtr-btn button-blue" style="margin-top:20px; border-radius:5px; width:100%; padding:15px; border:none; box-shadow:none; color:#fff; background:#28CB75;">
            </form>
            <div id="form-back-message" style="display:none; margin-top:220px;"><center><b style="font-size:24px">Заявка принята. Скоро мы Вам перезвоним!</b></center></div>
        </div>
        END OF SEARCH FORM -->
        <!-- LOGO & NAVIGATION -->
        <div class="header-navigation">
            <div class="row">
                <div class="col-sm-12">
                    <div class="logonav">
                        <div class="row no-gutter">
                            <div class="col-sm-3">
                                <div class="logo">
                                    <a href="/"><img src="{% static "landing/image/logo.png" %}" /></a>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <nav id="desktop-menu">
                                    <ul class="sf-menu" id="navigation">
                                        <li><a href="/">Главная</a></li><li><a href="/about">О компании</a></li><li><a href="/services">Услуги</a></li><li><a href="/news">Новости и акции</a></li><li><a href="/contacts">Контакты</a></li></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF LOGO & NAVIGATION -->
    </div>

    <!-- PAGE HEADER -->
    <div id="page-header" class="about1">
        <div class="title-breadcrumbs">
            <h1>НОВОСТИ И АКЦИИ</h1>
            <div class="thebreadcumb">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li class="active">НОВОСТИ И АКЦИИ</li>
                </ul>
            </div>
        </div>

    </div>
    <!-- END OF PAGE HEADER -->
</div>