
{% load staticfiles %}

    <div class="header header2">

      <!-- Top bar -->
      <div class="topbar">
        <div class="row">
          <div class="col-sm-6">
            <ul class="phone">
              <li><span class="typcn typcn-location-outline"></span> Санкт-Петербург, Киришская ул., д.4а</li>
              <li><span class="typcn typcn-phone-outline"></span> +7 (911) 839-58-27</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="toplinks">
              <li>ПН - ПТ 09:00 - 21:00</li>
              <li><a href="mailto:info@paynspray.ru">info@paynspray.ru</a></li>
              <!-- <li><a href="#search" title="Заказ обратного звонка"><i class="fa fa-phone"></i> Заказать звонок</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <!-- End of Top bar -->
      <!-- Search form
      <div id="search">
        <button type="button" class="close">x</button>
        <form id="form-back-call" onsubmit="return false">
          <span>Заказ обратного звонка. Введите номер Вашего телефона:</span>
          <input type="text" value="" placeholder="" />
          <input type="button" value="ЗАКАЗАТЬ ЗВОНОК" id="form-back-button" class="mtr-btn button-blue" style="margin-top:20px; border-radius:5px; width:100%; padding:15px; border:none; box-shadow:none; color:#fff; background:#28CB75;">
        </form>
        <div id="form-back-message" style="display:none; margin-top:220px;"><center><b style="font-size:24px">Заявка принята. Скоро мы Вам перезвоним!</b></center></div>
      </div> -->
      <!-- End of Search form -->